.sourceCode {
  display: flex;
  font-size: 20px;
  // right: 5px;
}

.bottomPageRight {
  position:absolute;
  right: 5px;
  bottom: 15px;
}

.bottomPageLeft {
  position: absolute;
  bottom: 4px;
  left: 5px;
  font-size: 15px;
}