@import '../abstracts/index.module.scss';

.sourceCode {
  display: flex;
  font-size: 20px;
  text-decoration: none;
  color: $root-colour;
  margin-right: 5px;
}

.bottomPageRight {
  position:absolute;
  right: 1vw;
  bottom: 1.25vh;
}

.bottomPageLeft {
  position: absolute;
  bottom: 0vh;
  left: 1vw;
  font-size: 15px;
}
