nav {
  background-color: var(--text-color);
  display: flex;
  position: absolute;
  top: 0vh;
  left: 0vw;
  width: 100vw;
  height: 3.5rem;

  .home {
    color: var(--bg-color);
    padding: 0.75rem;
    font-size: 1.9rem;
  }

  .home:hover {
    font-size: 2.2rem;
  }

  .about {
    color: var(--bg-color);
    padding: 0.75rem;
    font-size: 1.9rem;
    position: absolute;
    right: 20rem;
  }

  .about:hover {
    font-size: 2.2rem;
  }

  .portfolio {
    color: var(--bg-color);
    padding: 0.75rem;
    font-size: 1.9rem;
    position: absolute;
    right: 5.75rem;
  }

  .portfolio:hover {
    font-size: 2.2rem;
  }

  .blog {
    color: var(--bg-color);
    padding: 0.75rem;
    font-size: 1.9rem;
    position: absolute;
    right: 0.9rem;
  }

  .blog:hover {
    font-size: 2.2rem;
  }

  .socials {
    color: var(--bg-color);
    padding: 0.75rem;
    font-size: 1.9rem;
    position: absolute;
    right: 13.5rem;
  }

  .socials:hover {
    font-size: 2.2rem;
  }
}

