nav {
  background-color: black;
  display: flex;
  position: absolute;
  top: 0vh;
  left: 0vw;
  width: 100vw;

  //TODO fix on GALAXY Fold and GALAXY S8+
  .home {
    color: white;
    padding: 0.5rem;
    font-size: 1.9rem;
  }

  .about {
    color: white;
    padding: 0.5rem;
    font-size: 1.9rem;
    position: absolute;
    right: 0.5rem;
  }

  .portfolio {
    color: white;
    padding: 0.5rem;
    font-size: 1.9rem;
    position: absolute;
    right: 6rem;
  }

  .blog {
    color: white;
    padding: 0.5rem;
    font-size: 1.9rem;
    position: absolute;
    right: 13.5rem;
  }
}

