.gh {
  margin: 20px;
  font-size: 25px;
  text-decoration: none;
  color: black;
}

.discord {
  margin: 20px;
  font-size: 25px;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
