.heading {
  font-size: 50px;
  text-decoration: underline;
}

.text {
font-family:sans-serif;
}

.link {
  text-decoration: none;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}