@font-face {
    font-family: "Moonbeam Regular";
    src: url("https://db.onlinewebfonts.com/t/3a775cc0fc167a7000d81c790839b807.eot");
    src: url("https://db.onlinewebfonts.com/t/3a775cc0fc167a7000d81c790839b807.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/3a775cc0fc167a7000d81c790839b807.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/3a775cc0fc167a7000d81c790839b807.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/3a775cc0fc167a7000d81c790839b807.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/3a775cc0fc167a7000d81c790839b807.svg#Moonbeam Regular")format("svg");
}

:root {
  background-color: #000000;
  color: #ffffff;

  h1 {
    text-align: center;
    font-family: "Moonbeam Regular";
  }
}
