---
import Layout from '@components/Layout.astro';
---

<Layout title="About Me" content="About me page of my personal website">
  <h1> About Me! </h1>
  <p> I am a software developer from Kelmscott, Western Australia. 
  I am a programmer at Curtin FRC, team 4788, and a mentor at the KSHS Robotics Club. 
  I primarily write embedded systems.
  My favourite languages are Rust and C/C++.
  I use Neovim and Linux for a smooth developer experience.
  I&apos;m a member of the Church of Vim lead by <a href="https://github.com/tpope">T Pope</a>.</p>
</Layout>

