---
import styles from '@styles/pages/blog.module.scss';
import Layout from '@components/Layout.astro';
---

<Layout title="My Blog" content="The home page for my blog">
  <h1> My Blog! </h1>
</Layout>

