---
import Layout from '@components/Layout.astro'
import styles from '@styles/pages/home.module.scss'
---

<Layout title="Isaac-T" content="my personal website and blog">
  <h1> Hi, I'm Isaac Turner! </h1>
  <img src="/me.jpg" alt="An image of me" class={styles.me} />
</Layout>

