---
import styles from '@styles/pages/portfolio.module.scss';
import Layout from '@components/Layout.astro';
---

<Layout title="My Portfolio" content="My Portfolio">
  <h1> Coming Soon! </h1>
</Layout>
