---
import Layout from "@components/Layout.astro";
import styles from "@styles/pages/socials.module.scss";
---

<Layout title="Socials" content="My socials">
  <h1> Socials </h1>
  <p class="hero"> <a class={styles.a} href="https://github.com/spacey-sooty/"> Github </a> </p>
  <p class="hero"> <a class={styles.a} href="https://twitter.com/spacey_sooty"> Twitter </a> </p>
</Layout>

