---
import Layout from "@components/Layout.astro";
import styles from "@styles/pages/socials.module.scss";
import socials from "@components/socials.svelte";
---

<Layout title="socials" content="My socials">
  <h1> Socials </h1>
</Layout>

